@use 'utils/reset';
@use 'utils/helper';

@use 'settings/colors';
@use 'settings/fonts';

@use 'general/header';
@use 'general/front-page';
@use 'general/footer';
@use 'general/about';
@use 'general/work';
@use 'general/works';
@use 'general/error';

